html {
  font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  /* Grid Details */
  display: grid;
  grid-template: repeat(8, auto) 1fr / repeat(5, 1fr);
  justify-items: center;
  align-items: start;
  gap: 20px;

  /* Other declarations */
  margin: 20px;
}

header {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

/* Navigation Bar */
nav {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

main {
  grid-column: 2 / 5;
  grid-row: 3 / 8;
}

footer {
  grid-column: 1 / 6;
  grid-row: 8 / 9;
  display: grid;
  grid-template: auto auto auto / auto 15vw auto;
}

.location {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hours {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.phone {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.email {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-inline-start: unset;
  padding: 10px;
}

/* Nav Link Behavior */

nav a {
  text-decoration: none;
  background: #554338;
  padding: 7px;
  color:#EFEBE4;
  border-radius: 5px;
}

nav a:hover {
  background: none;
  color:#554338;
  font-size: 1.25em;
  font-weight: bolder;
}

nav a:active {
  color: rgb(237, 42, 42);
}

/* Main Content */
ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}



/* .drinks {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  text-align: center;
}

.cocktails {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  text-align: center;
}

.punch {
  grid-column: 2 / 5;
  grid-row: 5 / 6;
  text-align: center;
}

.wine {
  grid-column: 2 / 5;
  grid-row: 6 / 7;
  text-align: center;
}

.beer_cider {
  grid-column: 2 / 5;
  grid-row: 7 / 8;
  text-align: center;
} */


h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Monsieur La Doulaise', cursive;
  margin: 0;
  padding: 20px 0;
  color: #191310;
}

img {
  display: block;
  margin: 0 auto;
}